.bkImg1 {
    transform: rotate(270deg);
    padding: 15px;
    margin: 10px;
    height: 100%;
    width: 100%;
}

.bkImg2 {
    transform: rotate(90deg);
    padding: 15px;
    margin: 10px;
    height: 100%;
    width: 100%;
}